# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.lof
*.lot
*.los
*.loabbrv
*.GeneralNomenclature
*.synctex.gz
*.synctex(busy)

# Build folders (compile.sh builds in build-tmp-*)
build/
build-tmp-*/
